body{background-color:#6C6CF1;}

#div_titolo{ /*div in alto contenente il titolo*/
						/*TESTO*/
					    font-family: courier, 'courier new', monospace;
					    color: #CCB656;
					    font-size: 30px;
					    font-weight: bold;
					    font-style: italic;
					    text-align: center;
					    letter-spacing: 1.6pt;
					    word-spacing: -3.2pt;
					
						/*ASPETTO*/
						height: 10%;
						width: 90%;


						/*POSIZIONE*/
						position: absolute;
						left: 5%;
						top: 5%;
}

#div_bottoni{/*div a sinistra contenente i bottoni del menu di gioco*/

						/*POSIZIONE*/
						position: absolute;
						left: 43%;
						top: 20%;
						
						/*ASPETTO*/
						height: 70%;
						width: 15%;
}

#div_contenuto{/*div principale al centro della pagina, gioco, istruzioni e record appariranno qui*/
						/*POSIZIONE*/
						position: absolute;
						left: 15%;
						top: 20%;
						
						/*ASPETTO*/
						background-color:#6C6CF1;
						height: 70%;
						width: 70%;
						visibility: hidden;
}

.div_con_bordo{
						/*ASPETTO*/
					  border-width:5px;	
					  border-style:ridge;
						background-color:#6C6CF1;
}

.but_menu{/*aspetto dei bottoni nel menu*/
				 /*ASPETTO*/
				 height: 10%;
				 width: 100%;
				 margin-bottom: 5%;
}

#div_n_dom{/*da all'utente il numero della domanda a schermo*/
					 /*POSIZIONE*/
					 position: absolute;
					 left: 5%;
					 top: 5%;
					 
					 /*ASPETTO*/
					 height: 10%;
				 	 width: 35%;
}

#div_tempo{/*da all'utente il tempo restante*/
					 /*POSIZIONE*/
					 position: absolute;
					 left: 60%;
					 top: 5%;
					 
					 /*ASPETTO*/
					 height: 10%;
				 	 width: 40%;
}

#div_dom{/*da all'utente la domanda corrente*/
					 /*POSIZIONE*/
					 position: absolute;
					 left: 10%;
					 top: 20%;
					 
					 /*ASPETTO*/
					 height: 30%;
				 	 width: 80%;
}

#div_punteggio{/*da all'utente il punteggio della partita in corso*/
					 /*POSIZIONE*/
					 position: absolute;
					 left: 60%;
					 top: 95%;
					 
					 /*ASPETTO*/
					 height: 30%;
				 	 width: 80%;		
}

#riga_dom{ /*div contenente le caselle div_dom_i */
					 /*POSIZIONE*/
					 position: absolute;
					 top: 47%;
					 left: 7%;
					 
					 /*ASPETTO*/
					 width: 100%;
					 height: 15%;
}

.div_dom_i{/*casellina indicante la domanda a schermo*/
					 /*POSIZIONE*/
					 position: absolute;
					 top: 60%;

				   /*ASPETTO*/
				   background-color: #B1B2B2;
					 width: 4%;
					 
}

.but_game{/*aspetto dei bottoni nel div principale, durante il gioco*/
						 /*ASPETTO*/
						 height: 15%;
		 	 			 width: 35%;
						 
						 /*POSIZIONE*/
						 position: absolute;
						 top: 72%;
}

#but_risp_1{/*bottone a sinistra per dare la risposta*/
						/*POSIZIONE*/
		 			  left: 10%;	 
}

#but_risp_2{/*bottone a destra per dare la risposta*/
						/*POSIZIONE*/
		 			  left: 55%;	 
}

/*bottoni di pausa e uscita nell'area di gioco*/
.small_button{ 
							 /*ASPETTO*/
							 height: 5%;
							 width: 5%;

							 /*POSIZIONE*/
							 position: absolute;
							 top: 95%;
}

#but_pausa{
							 /*POSIZIONE*/
							 left: 5%;
}

#but_uscita{
							 /*POSIZIONE*/
							 left: 10%;
}

/*div che compare durante pausa e game over al centro del div contenuto*/
#div_menu{
							 /*ASPETTO*/
							 height: 25%;
							 width: 25%;
							 text-align:center;
							 
							 /*POSIZIONE*/
							 position: absolute;
							 top: 40%;
							 left: 40%;
}

/*div che compare quando si fa la domanda in uscita*/
#div_uscita{
							 /*ASPETTO*/
							 height: 40%;
							 width: 40%;
							 text-align:center;
							 
							 /*POSIZIONE*/
							 position: absolute;
							 top: 40%;
							 left: 30%;
}

/*classe di bottoni del div sopra*/
.but_game_menu{
							 /*ASPETTO*/
							 width: 100%;
							 height: 30%;
							 margin-top: 3%;
							 margin-bottom: 2%;
}

/*div contenente i messaggi di errore nel form di inserimento punteggio*/
#div_errori{
						/*TESTO*/
            color: #E61616;
}

/*riga messa in evidenza quando si mostra il punteggio*/
.riga_evidenziata{
					  /*ASPETTO*/
						background-color: #FFFF99;
}
/*bottone in basso a sinistra nelle schermate di istruzioni e gioco
che riporta al menu principale*/
#but_indietro{
					 /*POSIZIONE*/
					 position: absolute;
					 left: 75%;
					 top: 95%;		
}
